html {
    font-family: helvetica;

    background: #272932;
    color: rgb(198, 198, 198);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    text-align: left;
}

h4 {
    text-align: left;
}

p {
    text-align: left;
}

img, video {
    max-height: 400px;
    max-width: 80vw;

    border: 2px solid black;
}

a:link {
    color: #4d7ea8;
}

a:visited {
    color: rgb(0, 0, 123);
}